.SearchDiv {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

.SearchBar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    right: 10vw;
}

.LogoDiv {
    display: flex;
    flex-direction: row;
}

.H4 {
    margin: auto 0;
    font-size: 2rem;
}

.Input {
    margin: 0 auto;
    padding: 10px;
    font-size: large;
}

.Img {
    width: 90px;
}

.Link {
    text-decoration: none;
    padding: 10px 0px;
    margin: 10px 0px;
    min-width: 7vw;
    border: solid black 1px;
    color: black;
    font-weight: bolder;
    box-shadow: 10px 5px;
    margin: 0 auto;
    position: relative;
    top: 7px;
}

.Link:hover {
    background-color: grey;
}

.Link:active {
    background-color: white;
    box-shadow: 0px 0px;
}

@media only screen and (max-width: 1000px) {
    .SearchDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .SearchBar {
        width: 200px;
        margin: 0px;
    }


    .LogoDiv {
        width: 400px;
        
    }

}

@media only screen and (max-width: 930px) {
    .Input {
        padding: 0px;
    }

    .Link {
        margin: 0 auto;
        padding: 10px;
        
    }
    
    .SearchBar {
        margin: auto 0;
    }

    .H4 {
        font-size: 1rem;
    }

    .Link {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 490px) {
    .Link {
        padding: 5px;
    }

    .SearchBar {
        position:relative;
        left: 0.1px;
    }
}