* {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    width: 40%;
    margin: 10px 0px;
}

.H2 {
    padding: 10px;
    font-size: 2rem;
}