.App {
  text-align: center;
}

.SearchBar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  border-bottom: 5px solid black;
}

.Home {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 21vh;
  z-index: 0;
}
